# Sample Config file for FileNet Adaptor

# Hostname or IP address of the GSA this adaptor will be feeding.
gsa.hostname =

# FileNet config.
# Required properties.
filenet.contentEngineUrl =
filenet.username =
filenet.password =
filenet.objectStore =

# Optional properties.
# filenet.additionalWhereClause =
# filenet.displayUrl = /WorkplaceXT/getContent?objectStoreName={2}\
#     &objectType=document&versionStatus=1&vsId={1}
# filenet.excludedMetadata = Accessor, ActiveMarkings, CmIndexingFailureCode, \
#     CmRetentionDate, ComponentBindingLabel, ContentElements, \
#     ContentRetentionDate, DateContentLastAccessed, EntryTemplateId, \
#     EntryTemplateLaunchedWorkflowNumber, EntryTemplateObjectStoreName, \
#     IgnoreRedirect, IsInExceptionState, IsVersioningEnabled, LockOwner, \
#     Permissions, ReservationType
# filenet.includedMetadata =
# filenet.metadataDateFormat = yyyy-MM-dd
